<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      <%= @user.username.capitalize %>'s Likes!
    </h3>
  </div>
</div>



<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a href="/photos/new" class="btn btn-default btn-block">
    <i class="fa fa-plus"></i>
    </a>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

<!-- list of photos that I have liked-->

<% @user.likes.each do |like1| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <a href="/users/<%= like1.photo.user_id %>"><%=  like1.photo.user.username %>
          </a>
          <small>
          About <%=  time_ago_in_words(like1.photo.created_at) %> ago
          </small>
        </h3>
      </div>
      <div class="panel-body">
        <a href="/photos/<%= like1.photo_id %>">
           <img src="<%= like1.photo.image %>" class="img-responsive">
        </a>
<!-- usernames of people who have liked-->

<p>
  <a href="/delete_like/<%= like1.id %>" class="btn btn-link">
    <i class="fa fa-heart"></i>
    </a>
    <% usernames = [] %>

      <% usernames = like1.photo.fans.pluck(:username) %>

  <%if usernames.length == 1 %>
      <%= usernames.to_sentence %> likes this!
  <%elsif usernames.length > 1 %>
      <%= usernames.to_sentence %> like this!
    <%elsif usernames.length == 0 %>
      No one likes this!
 <% end %>
</p>

<!-- usernames and comments of people who have commented-->

  <ul class="media-list">

            <% comments = [] %>
            <% like1.photo.comments.each do |comment| %>

            <li class="media">
              <div class="media-body">
              <h6 class="media-heading">
                <a href="/users/<%= comment.user_id %>">
                <%=  comment.user.username.capitalize %>
                </a>
                <small>
                About <%=  time_ago_in_words(comment.created_at) %> ago
                </small>
              </h6>
              <% comments.push(comment.body) %>
              <%= comments.last %>
            </div>
           </li>
<% end %>

<li class="media">
            <div class="media-body">
                  <form action="/create_comment" method="post">
                     <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">


                <input type="hidden" name="photo_id" id="photo_id" value="<%= like1.photo.id %>">

                <input type="hidden" name="user_id" id="user_id" value="<%= like1.user_id %>">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="body" class="sr-only">
                    Body
                  </label>

                  <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>
                </div>
              </form>
            </div>
          </li>

</div>


      <% end %>

  </div>
</div>
